h1 {
    color: red;
}

.aukstis-75 {
    height: 75px;
}
.aukstis-200 {
    height: 200px;
}
.aukstis-300 {
    height: 300px;
}
.aukstis-500 {
    height: 500px;
}
.aukstis-full {
  height: 100%
}
.aukstis-50{
  height: 50%;
}
.aukstis-19{
  height: 18.4%;
}
.aukstis-80{
  height: 80%;
}
.fl {
  flex-grow: 1;
}
.just {
padding-top: 20px
}
