html,
  body{
    height: 100%;
    width: 800px;
    display:block;
    margin-left: auto;
    margin-right: auto;
  }

* {
    box-sizing: border-box;
  }


.fonas-blue{background-color: blue;}
.fonas-green{background-color: green;}
.fonas-pink{background-color: pink;}

.container{
  display: flex;
}

.item{
  flex-grow: 1;
  height: 100px;
  padding: 100px;
  margin: 1%;
  text-align: center;
}

.container-reverse{ flex-direction: row-reverse;}
