/* pagrindines spalvos */
/* sviesi    #b2b2b2   */
/* tamsesne  #A2A2A2   */
/* tamsi     #222222   */

$color_sviesi : #b2b2b2;
$color_tamsesne :  #A2A2A2;
$color_tamsi :     #222222;
$text_didelis : 24px;
$text_paprastas : 16px;

/* -------------------------------- */
h1 {
    color: $color_tamsi;
    font-size: $text_didelis;
}
.aukstis-100 {
    height: 100px;
}
.aukstis-200 {
    height: 200px;
}
.aukstis-300 {
    height: 300px;
}
.aukstis-500 {
    height: 500px;
}




// uzduotis:   panaudoti SASS arba SCCS


// UZDUOTIS
// html/PHP faile
// 1. sukurti 'div'
// 1.1 'div' viduje sukurti antraste ir paragrafa (su lorem)

// 2. sukurti 'aside'
// 2.1 'aside' viduje sukurti antraste ir paragrafa  (su lorem)

// 3. SCSS faile:
// 3.1 div antrastes tekstui uzdeti:
//      teksto spalva : raudona
//      teksto dydis: 29px
//      teksto svoris: 600
// 3.2 div paragrafo tekstui uzdeti:
//      teksto dydis: 16px
//      teksto svoris: 100
// 4.1 aside antrastes tekstui uzdeti:
//      teksto spalva : melyna
//      teksto dydis: 29px
//      teksto svoris: 100
// 4.2 aside paragrafo tekstui uzdeti:
//      teksto dydis: 16px
//      teksto svoris: 600

$tekstas-raudonas : red;
$tekstas-melynas : blue;
$d-tekstas : 29px;
$m-tekstas : 16px;
$d-svoris : 600;
$m-svoris : 100;

div h1 {
  font:{
        size: $d-tekstas;
        weight: $d-svoris;
      }
      color: $tekstas-raudonas;
}
div p {
  font-size: $m-tekstas;
  font-weight: $m-svoris;
}
aside h1 {
  color: $tekstas-melynas;
  font-size: $d-tekstas;
  font-weight: $d-svoris;
}
aside p {
  font-size: $m-tekstas;
  font-weight: $m-svoris;
}
