/* pagrindines spalvos */
/* sviesi    #b2b2b2   */
/* tamsesne  #A2A2A2   */
/* tamsi     #222222   */
/* -------------------------------- */
h1 {
  color: #222222;
  font-size: 24px;
}

.aukstis-100 {
  height: 100px;
}

.aukstis-200 {
  height: 200px;
}

.aukstis-300 {
  height: 300px;
}

.aukstis-500 {
  height: 500px;
}

div h1 {
  font-size: 29px;
  font-weight: 600;
  color: red;
}

div p {
  font-size: 16px;
  font-weight: 100;
}

aside h1 {
  color: blue;
  font-size: 29px;
  font-weight: 600;
}

aside p {
  font-size: 16px;
  font-weight: 100;
}
