html,
body {
  height: 100%;
}
* {
  box-sizing: border-box;
}
/* ------------------------------ */
html {
  background-color: #f2f2f2;
}
.container {
  width: 1200px;
  /* elemento centravimas */
  margin-left: auto;
  margin-right: auto;
  /* -------------------- */
}
h1 {
  text-align: center;
  font-family: 'Solway', serif;
}
header {
  height: 90px;
  background-color: pink;
}
/* ------menu start--------- */
nav ul {
  padding-left: 0;
  text-align: center;
  font-size: 28px;
}
nav li {
  list-style-type: none;
  float: left;
  width: 25%;
}
nav {
  float: left;
  width: 70%;
}
nav a {
  text-decoration: none;
  color: black;
}
nav a:hover {
  color: white;
}

.search {
  float: left;
  width: 30%;
  padding-top: 29px;
}
input {
  border: none;
  height: 30px;
  width: 200px;
  padding-left: 10px;
}
button {
  float: right;
  height: 30px;
  width: 100px;
  margin-right: 50px;
  background-color: black;
  color: white;
}

/* -------menu end---------- */
/* ------wrapper'is------------- */
main {
  float: left;
  width: 75.584%;

  background-color: white;
  margin-top: 10px;
  padding: 15px;
}
.first h2 {
  text-align: center;
  font-family: 'Solway', serif;
}
aside {
  float: right;
  width: 23.584%;
  background-color: pink;
  margin-top: 10px;
  padding-bottom: 9999px;
  margin-bottom: -9999px;
}
aside h2 {
  text-align: center;
  font-family: 'Solway', serif;
}
aside li {
  font-size: 16px;
  margin-top: 25px;
  margin-left: 7px;
}
.wrapper {
  overflow: hidden;
}
p {
  font-family: 'Solway', serif;
}
h3 {
  font-family: 'Solway', serif;
}
/* ------wrapper end---------- */
/* -------footer'is------ */
footer {
  width: 100%;
  height: 50px;
  background-color: white;
  margin-top: 10px;
  padding-top: 17px;
  padding-left: 10px;
}
footer p {
  margin: 0;
}

/* ----------------------- */
div.float-stop {
  clear: both;
}
