html,
body {
    height: 100%;
}
* {  box-sizing: border-box; }

/* ---------------- */
html {
    background-color: #f2f2f2;
}
.container {
    width: 1200px;
    background-color: white;
    /* elem. centravimas */
    margin-left: auto;
    margin-right: auto;
}

h1 {
    color: red;
    text-align: center;
}
