.center {
  display: flex;
  justify-content: center;
  
}

div {
  width: 200px;
  height: 200px;
  background-color: red;
}


.box {
  display: flex;
  align-items: center;
  justify-content: center;
}
