h1 {
    color: red;
}

.aukstis-200  {
  height: 200px;
}


.fonas-pilkas {
  background-color: grey;

}

.plotis-50 {
  width: 50%

}

.tekstas-raudona h2 {
  color: red;

}

.tekstas-geltona h2 {
  color: yellow;
}

.tekstas-zalia h2 {
  color: green;
}

p {
  font-size: 15px;
  text-align: center;
}
