h1 {
    color: red;
}
body {
    /* display: flex; */
}
section {
        display: flex;

  flex-wrap: wrap;
  height: 100px;
  align-content: space-between;
}
.box {
    background-color: red;
    border: solid 1px black;
    flex-grow: 1;
}
.big {
    flex-grow: 3;
    background-color: green;

}
