h1 {
  color: red;
}

h2 {
  color: orange;
}

div h2 {
  color: green;
}


.fonas-red {
  background-color: red;
}

.fonas-pink {
  background-color: pink;
}

.tekstas-talic {
  font-style: italic;
}

div h2 {
  background-color: yellow;
}

div h2 .fonas-pink {
  background-color: yellow;
}



/*

0) blogi
02) class 4x
1)zemiau laimi
2) ELM vs tevai
3)class vs ELM
3.2) class + elm vs class
4) id vs class
5) style vs id

 */
