* {
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

.dezute {
  float: left;
  width: 31%;
  height: 200px;
  border: 2px solid black;
  margin-left: 1.75%;
}

#isjungiu-float {
  clear: both;
}

.dezute h2 {
  text-align: center;
  float: right;
  width: 40%;
  margin-top: -2px;
  margin-right: -2px;
  border: 2px solid black;
}

.dezute p {
  border: 1px solid red;
  padding: 30px;
  margin: 10px;
  padding: 10px;
  margin-top: auto;
  margin-bottom: auto;
}
