html,
body {
    height: 100%;
}
* {  box-sizing: border-box; }

/* ---------------- */
html {
    background-color: #f2f2f2;
}
.container {
    width: 1200px;
    background-color: white;
    /* elem. centravimas */
    margin-left: auto;
    margin-right: auto;
}

h1 {
    color: #cc99ff;
    text-align: center;
}
header {
    background-color: pink;
    height: 90px;
}
/* ---menu----- */
nav {
    float: left;
    width: 70%;
}
li {
    /* vienoje eilute */
    /* turime TIK 100%  reik ploti kazokki uzdeti */
    float: left;
    width: 25%;
    /* 3) nepamirsti isjungti */
    list-style: none;
    text-align: center;
    font-size: 28px;
    padding-top: 10px;
}
a {
    color: black;
    text-decoration: none;
}
ul {
    padding-left: 0;
}
/* ------end menu--------- */
.paieska {
    float: left;
    width: 30%;
    background-color: orange;
}
.isjungiu-float{
    clear: both;
    content: "";
}
