h1 {
    color: red;
}
.aukstis-100 {
    height: 100px;
}
.aukstis-200 {
    height: 200px;
}
.aukstis-300 {
    height: 300px;
}
.aukstis-500 {
    height: 500px;
}



$fontSize-29 : 29px;
$FontSize-16 : 16px;
$color-1 : rgb(227, 12, 27);
$color-2 : rgb(49, 29, 209);
$fontWeight-1 : 600;
$fontWeight-2 : 100;

div h2{
  color: $color-1;
  font-size: $fontSize-29;
  font-weight: $fontWeight-1;

}

div p{
  font-size: $FontSize-16;
  font-weight: $fontWeight-2;
}

aside h2{
  color: $color-2;
  font-size: $fontSize-29;
  font-weight: $fontWeight-2;
}

aside p{
  font-size: $FontSize-16;
  font-weight: $fontWeight-1;
}
