html,
body {
  height: 100%;
}
* {
  box-sizing: border-box;
}

html {
    background-color: #b3b5b4;
}

h1, h2, h3 {
  font-family: 'Oleo Script', cursive;
  margin-top: 25px;
  margin-bottom: 25px;
}

a, p {
  font-family: 'Roboto Condensed', sans-serif;
}

h1 {
    color: white;
    text-align: center;
    font-size: 49px;
}

h2 {
  text-align: center;
  font-size: 38px;
}

h3 {
  font-size: 31px;
}

 nav ul {
  padding-left: 0px;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

header {
  background-color: #e472ba;
  height: 60px;
  margin-bottom: 10px;
  padding-right: 15px;
}

nav {
  width: 60%;
  float: left;
  margin-top: 8px;
}

nav li {
  float: left;
  list-style-type: none;
  width: 25%;
  margin: 0px;
  text-align: center;
}

nav li a{
  text-decoration: none;
  color: black;
}

form {
  width: 40%;
  float: right;
  text-align: right;
  margin-top: 15px;
}

input {
  height: 30px;
}

button {
  background-color: black;
  border: 0px;
  color: white;
  width: 60px;
  height: 30px;
  border-radius: 1px;
}


section {
  float: left;
  position: relative;
}

main {
  float: left;
  width: 79%;
  margin-right: 1%;
  background-color: white;
  padding-left: 2%;
  padding-right: 2%;
}

aside {
  float: right;
  width: 20%;
  background-color: #e472ba;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}

aside li {
  margin-bottom: 10px;
}

footer {
  float: left;
  background-color: white;
  height: 50px;
  width: 100%;
  margin-top: 10px;
  padding-left: 2%;
}
